{% if inventory_hostname == mysql_backup_host %}
45 21 * * *  backup mysqldump agama > /home/backup/mysql/agama.sql
50 21 * * 0  backup duplicity --no-encryption full /home/backup/mysql/ rsync://kagu22@backup.{{ domain_name }}//home/kagu22/mysql
55 21 * * *  backup duplicity --no-encryption incremental /home/backup/mysql/ rsync://kagu22@backup.{{ domain_name }}//home/kagu22/mysql
{% endif %}
