[Unit]
Description=Pinger
Documentation=https://github.com/romankuchin/ica0002-2023/blob/main/08-logging/README.md
After=network-online.target

[Service]
User=pinger
ExecStart=/usr/local/bin/pinger

[Install]
WantedBy=multi-user.target