# # config file version
apiVersion: 1

datasources:
 - name: Prometheus
   type: prometheus
   access: proxy
   orgId: 1
   {% for vm in groups['prometheus'] -%}
   url: http://{{ vm }}/prometheus
   {% endfor -%}
   version: 1
   editable: false