# # config file version
apiVersion: 1

datasources:
 - name: Prometheus
   type: prometheus
   access: proxy
   orgId: 1
   uid: b111c13e-f3f2-448a-87c1-01bfc6574d9c
   {% for vm in groups['prometheus'] -%}
   url: http://{{ vm }}/prometheus
   {% endfor -%}
   version: 1
   editable: false

 - name: InfluxDB-telegraf
   type: influxdb
   access: proxy
   orgId: 1
   {% for vm in groups['influxdb'] -%}
   url: http://{{ vm }}:8086
   {% endfor -%}
   #user:
   #password:
   database: telegraf
   editable: true

 #- name: InfluxDB:latency
  # type: influxdb
  # access: proxy
  # {% for vm in groups['influxdb'] -%}
  # url: http://{{ vm }}:8086
  # {% endfor -%}
   #user:
   #password:
  # database: latency
  # editable: true
