acl mynet {
    {% for network in local_network %}
    {{ network }};
    {% endfor %}

    {% for host in localhost %}
    {{ host }};
    {% endfor %}
};

options { 
	directory "/var/cache/bind";
        forwarders {
      {% for f in dns_forwarders %}
            {{ f }};
      {% endfor %}  	
	};
        allow-query { 
          mynet;
          {{ docker_network }};
        };
	dnssec-validation no;
};

statistics-channels {
  inet 127.0.0.1 port 8053 allow { 127.0.0.1; };
};

key "dns_transfer_key" {
        algorithm hmac-sha256;
        secret "{{ dns_transfer_key }}";
};

key "dns_update_key" {
        algorithm hmac-sha256;
        secret "{{ dns_update_key }}";
};
