acl mynet {
    {% for network in local_network %}
    {{ network }};
    {% endfor %}

    {% for host in localhost %}
    {{ host }};
    {% endfor %}
};

options { 
	directory "/var/lib/bind";
        forwarders {
      {% for f in dns_forwarders %}
            {{ f }};
      {% endfor %}  	
	};
        allow-query { mynet; };
	dnssec-validation no;
};

