
zone "{{ domain_name }}" {
{% if inventory_hostname in groups['dns_masters'] -%}
    type primary;
    allow-update {key dns_update_key;};
    allow-transfer {127.0.0.1; key dns_transfer_key;};
{% else -%}
    type secondary;
    masters { {{ hostvars[groups['dns_masters'][0]]['ansible_default_ipv4']['address'] }}; };
{% endif -%}

  file "db.{{ domain_name }}";
};

zone "{{ reversed_domain }}" {
{% if inventory_hostname in groups['dns_masters'] -%}
    type primary;
    allow-update {key dns_update_key;};
    allow-transfer {127.0.0.1; key dns_transfer_key;};
{% else -%}
    type secondary;
    masters { {{ hostvars[groups['dns_masters'][0]]['ansible_default_ipv4']['address'] }}; };
{% endif -%}

  file "db.{{ domain }}.reversed";
};

{% if inventory_hostname in groups['dns_slaves'] %}
server {{ hostvars[groups['dns_masters'][0]]['ansible_default_ipv4']['address'] }} {
    keys { dns_transfer_key; };
};
{% endif %}
